.hourCast{
    padding: 2px 35px;
    width: 100px;
    background-color: rgba(58, 58, 57, 0.2392156863);
    border-radius: 10px;
    // box-shadow: 10px 10px 10px #ffff;
    color: #fff;
    width: 100%;
}